<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AirQuality</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <h1>AirQuality</h1>
    <br>
    <label>
        <input id="country" class="text-input" placeholder="Country">
        <input id="state" class="text-input" placeholder="State">
        <input id="city" class="text-input" placeholder="City">
    </label>
    <button type="button" class="btn btn-primary" onclick="clickSearch()">search</button>

    <ul>
        <li>Country: <span th:text="${city.getCountry()}"></span></li>
        <li>State: <span th:text="${city.getState()}"></span></li>
        <li>City: <span th:text="${city.getCity()}"></span></li>
        <li>tp: <span th:text="${city.getTp()}"></span></li>
        <li>pr: <span th:text="${city.getPr()}"></span></li>
        <li>hu: <span th:text="${city.getHu()}"></span></li>
        <li>ws: <span th:text="${city.getWs()}"></span></li>
        <li>wd: <span th:text="${city.getWd()}"></span></li>
        <li>ic: <span th:text="${city.getIc()}"></span></li>
    </ul>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    let country = document.getElementById("country");
    let state = document.getElementById("state");
    let city = document.getElementById("city");

    function clickSearch() {
        window.location.href = "/" + country.value + "/" + state.value + "/" + city.value;
    }
</script>
</body>
</html>